{% extends "bootstrap_responsive.html" %}

{% block style %}
	{%- if styles %}
		<style>
			body {padding-top: 60px;}
			{% for style in styles -%}
			{{ style|safe }}
			{% endfor -%}
		</style>
	{% else -%}
		{{super()}}
	{% endif -%}
	{%- if to_print %}
		<style>
/* 			.container {width: 744px;} */

			@page {size: A5; margin: 1cm}
			@media print {nav {display: none}}
		</style>
	{% endif -%}
{%- endblock %}

{% block body_content %}

	<div class="container">
		{% block container_content %}{% endblock container_content %}
		<hr>
		<footer>{% include 'footer.html' %}</footer>
	</div><!-- /container -->
{% endblock body_content %}
