
## Expectations

- - -

### From Me

1. Timely submission of documents and deliverables (both final and revisions) as per schedule.
1. Advance notification of non-availability (24 hours notice).
1. Advance notification if scheduled deliverable or milestone will be delayed with reasons for the delay and the mitigating steps I will take (within 12 hours of identification).
1. Advance notification of documents and deliverables that require your review (12 hours notice).

### From You

1. Access to necessary software, hardware, and other resources necessary for completion of deliverables.
1. Advance notification of preferred time-line for a deliverable or milestone in case proposed time-line are not convenient (prior to beginning {{ g.project_name }}).
1. Timely review of documents and deliverables and feedback or suggestions for changes (24 hours notice).
1. Advance notification of non-availability (24 hours notice).
1. Formal approval of all deliverables.
