
## Relationship

- - -

You acknowledge and agree that the services performed by me, my agents, or sub-contractors shall be as an independent contractor and that nothing in this proposal shall be deemed to constitute a partnership, joint venture, agency relationship, or otherwise between you and I.

### Intellectual Property Rights

Upon receiving your final payment, I will assign copyright to you as follows:

* You will own the spreadsheets, documentation, graphics, and other visual elements created for you.
* You will also own text, photographs, and other data you provide, unless someone else owns them.

### Non Disclosure & Confidentiality

The contents of this proposal should not be shown, read, or otherwise disclosed to any
third party who is not a current employee of {{ g.short_company_name }} without my written consent.

In the course of completing {{ g.project_name }}, you recognize that I may come in contact or become familiar with information which you or your affiliates may consider proprietary. I agree to keep all such information confidential and not to discuss or divulge it to anyone other than appropriate personnel or designees of {{ g.short_company_name }}.

### Termination of Agreement

In the event of an unforeseen situation preventing a continuation of this agreement,
either of us may terminate this agreement on thirty (30) days written notice.
In the event of the termination of this agreement, appropriate payments will be
settled as per efforts completed.
