{% import "macros.html"  as macros %}

## Scope of Work

- - -

### Project Details

#### Project Estimate

The estimated cost for completing {{ g.project_name }} is **{{ macros.projcost() }} {{ g.currency }}** and includes the following phases:

{% for i in g.schedule %}
* **{{ i.phase }}**: {{ i.description }}
{% endfor %}

If you are not happy with my work at the end of any phase, you will pay in full
for all of the completed work (outlined in [Project schedule](#project-scheduling)) and are free to cancel the remainder of the contract. If at any time you want to add
extra functionality (Add-ons), you can commission me to make the necessary
revisions at the hourly rate of {{ g.hourly_rate }} {{ g.currency }}.

#### Project Structure

Category | Details
---------|---------
Development Period|{{ macros.pluralize(g.timeframe.development.units, g.timeframe.development.period) }}
Pricing Structure|{{ g.pricing }}
Support|{{ macros.pluralize(g.timeframe.support.units, g.timeframe.support.period) }} {{ g.timeframe.support.methods }}
Warranty|{{ macros.pluralize(g.timeframe.warranty.units, g.timeframe.warranty.period) }}

{% if g.platform or g.technology %}
### Technical specifications

{% if g.platform %}{{ g.project_name }} will run on the following platforms:

Mode | Hardware | Operating System
-----|----------|-----------------
Development|{{ g.platform.development.hardware }}|{{ g.platform.development.os }}
Production|{{ g.platform.production.hardware }}|{{ g.platform.production.os }}
{% endif %}

{% if g.technology %}
{{ g.project_name }} will require the use of the following technologies:

Category | Type | Programming Language(s) | Framework
---------|------|-------------------------|----------
{% for i in g.technology -%}
	{{ i.category }}|{{ i.type }}|{{ i.language }}|{{ i.framework }}
{% endfor %}
{% endif %}
{% endif %}

### Scheduling

#### Project schedule ({{ g.timeframe.development.units }}s 1 - {{ g.timeframe.development.period }})

{% if macros.projdays()|int > 20 %}
Phase | Milestone | Due at Completion ({{ g.currency }})
------|-----------|------------------------------------:
{% for i in g.schedule %}{{ i.phase }}|{{ i.milestone }}|{{ i.payment }}
{% endfor %}

Phase | Duration ({{ g.timeframe.milestones.units }}s){{ macros.filldays(macros.projdays()) }}
------|----------------------------------------------:{{ macros.fillbars(macros.projdays()) }}
{% for i in g.schedule %}{{ i.phase }}|{{ i.duration }}{{ macros.fillsquares(i.start, i.duration) }}
{% endfor %}

{% else %}
Phase | Milestone | Due at Completion ({{ g.currency }}) | Duration ({{ g.timeframe.milestones.units }}s){{ filldays(macros.projdays()) }}
------|-----------|-------------------------------------:|----------------------------------------------:{{ macros.fillbars(macros.projdays()) }}
{% for i in g.schedule %}{{ i.phase }}|{{ i.milestone }}|{{ i.payment }}|{{ i.duration }}{{ macros.fillsquares(i.start, i.duration) }}
{% endfor %}
{% endif %}

{% if g.schedule|sum(attribute='payment') != g.project_estimate_ave %}
`Warning, payments of {{ g.schedule|sum(attribute='payment')}} do not equal quote of {{g.project_estimate_ave}}!`
{% endif %}

{{ '`Warning, durations do not equal timeframe!`' if g.schedule|sum(attribute='duration') != macros.projdays()|int }}

#### Milestone/Release Comparison

Feature{% for i in g.schedule %}{% if i.is_release %}|{{ i.milestone }}{% endif %}{% endfor %}
--------{% for i in g.schedule %}{% if i.is_release %}|:-------:{% endif %}{% endfor %}
{% for f in g.features %}{{ f.name }}{% for i in g.schedule %}{% if i.is_release %}{% if i.features[f.id] %}|✅{% else %}|{% endif %}{% endif %}{% endfor %}
{% endfor %}
