
## Terms and Conditions

- - -

### Late Penalty

If I have not completed the last milestone by the end of {{ g.timeframe.development.units }} {{ g.timeframe.development.period }}, I will deduct {{ g.timeframe.development.unit_penalty }} {{ g.currency }} from the total amount owed for each additional {{ g.timeframe.development.units }} it takes to complete the milestone (up to a maximum of {{ g.timeframe.development.max_penalty }} {{ g.currency }}). This does not include delays caused by late payments or time spent waiting for you to deliver requested data or information.

### Project Fee Calculation

The final fee will be a total of the estimate and accrued pre-approved project expenses minus late penalty (if any). Add-ons are billed in 15 minute increments and have a 1 hour minimum. The amount due on the final invoice will be the final fee minus all previous payments.

### Timing and Mode of Payments

Payments should be made within 24 hrs of each milestone completion outlined in [Project schedule](#scheduling) via [{{ g.payment.name }}]({{ g.payment.site }}) to {{ g.site.author_email }}. If I do not receive payment in the time indicated, I will postpone {{ g.project_name }} until I receive payment. Additionally, I will charge a late payment fee of {{ g.timeframe.development.late_payment_penalty }} {{ g.currency }} per week.

### Validity

This proposal is valid for {{ g.days_valid }} days from the date of this offer.

### Force Majeure

I am not responsible for delays caused by acts of nature or any other reason beyond my reasonable control.
